.App {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a {
  color: black;
}
/* a, */
/* a:visited {
  color: blue;
} */

a.active {
  color: navy;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 82px;
}

.top-header-hide {
  display: none;
  justify-content: center;
  background-color: #fff;
}
.top-header-show {
  display: flex;
  z-index: 99999;
  justify-content: center;
  background-color: #fff;
}

.hide {
  display: none;
  justify-content: center;
  background-color: #fff;
}

.sticky .show {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.header_link {
  padding: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

/* Common navy: 
/* 081090 */

/* common sage 
a6b691
*/

.header {
  background-color: #a6b691;
}

.selected {
  border-bottom: 3px solid #081090;
  color: #081090;
}

.section {
}

.bottom-spacer {
  height: 110vh;
}

.invitation-name {
  padding-top: 20px;
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
}

.additional-details {
  margin: auto;
  font-size: 32px;
}

.additional-details-label {
  margin-top: 40px;
  font-size: 28px;
}

.checkbox-container {
  font-size: 24px;
  margin: 0 10px;
  display: inline-block;
}

input[type="checkbox"] {
  margin-top: 13px;
}

.btn-outline-primary:disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}
